@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
html {
    margin: 0;
    padding: 0;
    scroll-padding-top: 6rem;
}

/* For WebKit-based browsers (Chrome, Safari, and Opera) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
